#Print Statement

In [1]:
print("HOPE AI")

HOPE AI

#Buy input

In [2]:
instituteName=input("Enter your institute name: ")

Enter your institute name: HOPE AI

In [3]:
print("Enter your institute name? : ",instituteName)

Enter your institute name? :  HOPE AI

#Buy inputs

In [4]:
name=input("Enter your name: ")

Enter your name: Raj

In [5]:
age=int(input("Enter your age: "))

Enter your age: 15

In [6]:
schoolName=input("Enter your school name: ")

Enter your school name: Guru school

In [7]:
degree=input("Enter your degree: ")

Enter your degree: B.E CSE

In [8]:
print("Enter your name:",name)
print("Enter your age: ",age)
print("Enter your school name:",schoolName)
print("Enter your degree:",degree)

Enter your name: Raj
Enter your age:  15
Enter your school name: Guru school
Enter your degree: B.E CSE

#Addition

In [9]:
Num1=43
Num2=34
Add=Num1+Num2
print("a= ",Num1)
print("b= ",Num2)
print("Add = ",Add)

a=  43
b=  34
Add =  77

#Subtraction

In [10]:
Num1=43
Num2=34
Sub=Num1-Num2
print("a= ",Num1)
print("b= ",Num2)
print("Sub = ",Sub)

a=  43
b=  34
Sub =  9

In [11]:
#Multiplication

Num1=63
Num2=97
Mul=Num1*Num2
print("a= ",Num1)
print("b= ",Num2)
print("Mul = ",Mul)

a=  63
b=  97
Mul =  6111

In [12]:
#Division
Num1=76
Num2=31
Div=Num1/Num2
print("a= ",Num1)
print("b= ",Num2)
print("Float Div = ",Div)

a=  76
b=  31
Float Div =  2.4516129032258065

In [13]:
#Floor division
Num1=76
Num2=31
floorDiv=Num1//Num2
print("a= ",Num1)
print("b= ",Num2)
print("Floor Div = ",floorDiv)

a=  76
b=  31
Floor Div =  2

In [14]:
#Modulo
Num1=76
Num2=31
Mod=Num1%Num2
print("a= ",Num1)
print("b= ",Num2)
print("Modulo = ",Mod)

a=  76
b=  31
Modulo =  14

In [15]:
#Power
Num1=4
Num2=4
Power=Num1**Num2
print("a= ",Num1)
print("b= ",Num2)
print("Power = ",Power)

a=  4
b=  4
Power =  256